@using Swazer.ShoppingList.Core

<!DOCTYPE html>
<html class="js touch csstransforms csstransforms3d csstransitions">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @SharedStrings.Appointment</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @Styles.Render("~/Content/homebootstrap")
    <link rel="shortcut icon" type="image/png" href="~/Content/home/images/favicon.png">
    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
    {
        @Styles.Render("~/Content/homertl")
    }
    @Styles.Render("~/Content/home")


    @Styles.Render("~/Content/home-repsonsive")
    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
    {
        @Styles.Render("~/Content/home-style-rtl")
    }
    @Styles.Render("~/plugins/toastrStyles")
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#scroll-menu" data-offset="100">
    <div id="top-bar">
        <div class="container clearfix">
            <div class="pull-left contact-nav">
                <ul class="top-bar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a class="account-icon user-name-label">@User.Identity.Name</a></li>
                    }
                    <li><a href="mailto:info@tashafi.com"><i class="fa fa-envelope"></i>info@tashafi.com</a></li>
                    <li><a href="tel:+96388320317"><i class="fa fa-phone"></i><span class="stay-ltr">+ 963 88 320 317</span></a></li>

                </ul>
            </div>
            @{
                RouteValueDictionary routeValues = ViewContext.RouteData.Values;

                string controller = routeValues["controller"] as string;
                string action = routeValues["action"] as string;
                string lang = routeValues["lang"] as string;

                var queryString = ViewContext.RequestContext.HttpContext.Request.QueryString;
                RouteValueDictionary arabicRouteValues = routeValues.Copy("ar", queryString);
                RouteValueDictionary englishRouteValues = routeValues.Copy("en", queryString);
            }

            <div class="pull-right">
                <ul class="top-bar-nav">
                    <li class="lang-dropdown">
                        <a href="#">@((lang == "ar") ? "ar" : "en")<i class="fa fa-chevron-down"></i></a>
                        <ul>
                            <li>@Html.ActionLink("en", @action, @controller, englishRouteValues, null)</li>
                            <li>@Html.ActionLink("ar", @action, @controller, arabicRouteValues, null)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/home/images/logo.png" alt="CSVAPP" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

            </div>
        </div>
    </nav>


    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row">



            </div>
        </div>
    </footer>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <small>
                        @SharedStrings.AllRightsReserved <a href="http://www.swazerlab.com/">Tashafi</a> <a href="@Url.Action("Index", "Home", new { lang ="ar" })">عربي</a>
                        &copy; @DateTime.Now.Year <a href="@Url.Action("Index", "Home", new { lang ="en" })">English</a>
                    </small>
                </div>

                <div class="col-md-6 text-right">
                    <small>

                    </small>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/home")

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ajaxredirect.js"></script>
    <script type="text/javascript">
        try {
            globalLoginRedirect = '@Url.Action("Login", "Account", new { area = "" })';
        } catch (ex) {}
    </script>
</body>
</html>