

<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TPL3S2Z');
    </script>
    <!-- End Google Tag Manager -->

    <title>Smares Android POS | Smart Menu | Sign Up for 20% Discount!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="ozrPB_vuI1ZlwyZ2_IVv4IpWkdJEDrgHy_h7hk3MqzU" />
    <meta name="theme-color" content="#43575D">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@("@SmaresMe")">
    <meta name="twitter:title" content="Smares Android POS | Smart Menu | Real Time Monitoring | Sign Up for 20% Discount!">
    <meta name="twitter:url" content="http://www.Smares.me">
    <meta name="twitter:description" content="Smares Pint Of Sales - Android POS featuring Smart Menu, Real Time Monitoring, and Detailed Reporting. Sign Up for a 20% Discount!">
    <meta name="twitter:image" content="https://smares.swazerlab.com/content/images/2572042b-e2dc-4749-b127-8bd7d540bd2d.jpeg">
    <!-- Open Graph data -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="SmaresMe">
    <meta property="og:title" content="Smares Android POS | Smart Menu | Real Time Monitoring | Sign Up for 20% Discount!">
    <meta property="og:url" content="http://www.Smares.me">
    <meta property="og:description" content="Smares Pint Of Sales - Android POS featuring Smart Menu, Real Time Monitoring, and Detailed Reporting. Sign Up for a 20% Discount!">
    <!-- Schema.org markup for Google+ -->
    <script type="application/ld+json">
        {
        "@("@context")": "http://schema.org",
        "@("@type")": "WebPage",
        "url": "http://www.Smares.me",
        "name": "Smares Android POS | Smart Menu | Real Time Monitoring | Sign Up for 20% Discount!",
        "description": "Smares Pint Of Sales - Android POS featuring Smart Menu, Real Time Monitoring, and Detailed Reporting. Sign Up for a 20% Discount!",
        "primaryImageOfPage": {
        "@("@type")": "ImageObject",
        "width": "369",
        "height": "246",
        "url": "https://smares.swazerlab.com/content/images/2572042b-e2dc-4749-b127-8bd7d540bd2d.jpeg"
        },
        "publisher": {
        "@("@type")": "Organization",
        "name": "Swazer Bilgi Teknolojisi Ltd."
        }
        }
    </script>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <meta name="msvalidate.01" content="ACF1F7035F41B37DCBC8A6B857356609" />

    <!--[if lte IE 8]><script src="~/content/assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/content/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="~/content/assets/css/ie8.css" /><![endif]-->
    @Styles.Render("~/Content/flags")
    @Styles.Render("~/Content/ShoppingStyle")
    @Styles.Render("~/plugins/toastrStyles")

    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
    {
        @Styles.Render("~/Content/ShoppingStyle-rtl")
    }

    @Scripts.Render("~/bundles/jquery")

    <link href="@Url.Content("~/fonts/shopping-landing/style.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPL3S2Z"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Page Wrapper -->

    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/ShoppingStyle")


    @RenderSection("scripts", required: false)

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        @{
            string link = "https://embed.tawk.to/587de3a15e5821218b4251d7/default";
            if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ar")
            {
                link = "https://embed.tawk.to/587de3a15e5821218b4251d7/1b7v9247m";
            }
            else
            if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "tr")
            {
                link = "https://embed.tawk.to/587de3a15e5821218b4251d7/1b7vb8r3q";
            }
        }
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];

            s1.async = true;
            s1.src = '@link';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s1.language = "it";
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-77663647-4', 'auto');
        ga('send', 'pageview');
    </script>

    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
</body>
</html>
