@{
    Layout = null;
}

<script type="text/html" id="mobile-code-template">
    <div class="form-group">
        <label>@SharedStrings.Phone</label>
        <input class="form-control" disabled="disabled" type="text" data-bind="value:PhoneNumberDisplay">
    </div>

    <div class="form-group">
        <label>@SharedStrings.Code</label>
            <input class="form-control" name="Code" data-bind="textInput:Code" type="text" maxlength="5" autocomplete="off">
            <p data-bind="visible:IsTimeFinished()===false">@SharedStrings.RemainingTimeCode <span data-bind="text:RemeaningTimeDisplay"></span></p>
            <p data-bind="visible:IsTimeFinished()===true" style="display:none;">@SharedStrings.FinishedTimeCode</p>
    </div>
    <div class="form-group">
        <div>
            <input data-bind="disable:IsCodeEmpty()===true || IsTimeFinished()===true" type="submit" class="btn btn-primary btn-block" value="@HomeStrings.Send" />
        </div>
        <div class="btn-mrt">
            <p>@SharedStrings.ClickCode <button class="btn-link" data-bind="click:ResendCode">@SharedStrings.Here</button> @SharedStrings.ResendTheCode</p>
        </div>
    </div>
</script>