@using Swazer.ShoppingList.Core;

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    @if (!string.IsNullOrEmpty(User.GetPhoto()))
                    {
                        <img width="48" height="48" class="circle-border" src='data:image/gif;base64,@User.GetPhoto()' />
                    }
                    else
                    {
                        <img width="48" height="48" class="circle-border" src='~/Content/POS/images/PlaceHolher.jpg' />
                    }
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold"> @User.GetName()</span>
                        <span class="text-muted text-xs block">@User.GetEmail()<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="@Url.Action("UserProfile","Cart")">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("UserProfileEdit","Cart")">Edit</a></li>
                    </ul>
                    @{
                        string rotateClass = "fa-flip-horizontal";
                        if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
                        {
                            rotateClass = "";
                        }
                    }
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-lg fa-fw"></i><span class="nav-label" data-i18n="nav.forms">Home</span><span class="pull-right flip @rotateClass"></span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Item", action: "Index")">
                <a href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-basket"></i><span class="nav-label" data-i18n="nav.forms">Carts</span></a>
            </li>
        </ul>
    </div>
</nav>
