<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right flip">
            @{
                RouteValueDictionary routeValues = ViewContext.RouteData.Values;
                
                string controller = routeValues["controller"] as string;
                string action = routeValues["action"] as string;

                var queryString = ViewContext.RequestContext.HttpContext.Request.QueryString;
                RouteValueDictionary arabicRouteValues = routeValues.Copy("ar", queryString);
                RouteValueDictionary englishRouteValues = routeValues.Copy("en", queryString);
            }

            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    @SharedStrings.Languages
                </a>
                <ul class="dropdown-menu dropdown-languages">
                    <li>@Html.ActionLink("English", @action, @controller, englishRouteValues, null)</li>
                    <li>@Html.ActionLink("عربي", @action, @controller, arabicRouteValues, null)</li>
                </ul>
            </li>

            <li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fa fa-sign-out fa-lg"></i> @SharedStrings.LogOff
                        </a>
                    }
                }
            </li>

            <li><a class="right-sidebar-toggle"><i></i></a></li>

        </ul>
    </nav>
</div>