@{
    Layout = null;
}

<script type="text/html" id="show-complain-detail">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-bind="modal: $parent.IsModalVisible">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        @ComplainsStrings.ComplainId.ToUpper() :
                        <span data-bind="text: Id()"></span>
                    </div>
                    <hr />
                    <div>
                        @ComplainsStrings.Description.ToUpper() :
                        <span data-bind="text: Description()"></span>
                    </div>
                    <hr />
                    <div>
                        @ComplainsStrings.ComplainType.ToUpper() :
                        <span data-bind="text: Type()"></span>
                    </div>
                    <hr />
                    <div>
                        @ComplainsStrings.ComplainStatus.ToUpper() :
                        <span data-bind="text: Status()"></span>
                    </div>
                    <hr />
                    <div>
                        @ComplainsStrings.ComplainStatement.ToUpper() :
                        <span data-bind="text: Statement()"></span>
                    </div>
                    <hr />
                    <div>
                        @ComplainsStrings.CreatedAt :
                        <span data-bind="text: moment(CreateAt()).format('L')"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedStrings.Close</button>
                </div>
            </div>
        </div>
    </div>
</script>
