
@model Swazer.ShoppingList.WebApp.Models.ErrorModel

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox-content">
        <hgroup class="title">
            <h1 class="error">@SharedStrings.Error_HeaderTitle</h1>
            <h3 class="error">@SharedStrings.Error_MessageTitle</h3>

            @if (Model != null)
            {
                if (Html.IsDebug())
                {
                    <h6 class="error">@Model.Message</h6>

                    <h5 class="error">Action Name : @Model.ActionName</h5>
                    <h5 class="error">Controller Name : @Model.ControllerName</h5>
                    if (Model.Exception != null)
                    {
                        <h5 class="error">Message : @Model.Exception.Message</h5>
                        <h5 class="error">Stack Trace : @Model.Exception.StackTrace</h5>
                    }
                }
            }
        </hgroup>
    </div>
</div>