
@model RegisterViewModel
@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/_Layout_ShoppingStyle.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-5 signInLogo">
            <!--<h1><img class="main-logo img-responsive" src="images/logo-blue.png" alt=""></h1>-->
            <a href="@Url.Action("Index","Home")"><img class="img-responsive " src="~/Content/ShoppingStyle/images/ico/apple-touch-icon-144-precomposed.png" alt="smares - signup" /></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4 signInTitle">
            <h2>Sign up to Shopping</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default signInPanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label"></label>
                            <div class="col-sm-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger validation-registration", style = "color: red;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 control-label">
                                <label for="inputEmail3">
                                    @Html.LabelFor(m => m.Name)
                                </label>
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your business name", required = "required" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", style = "color: red;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 control-label">
                                <label for="inputEmail3">
                                    @Html.LabelFor(m => m.Email)
                                </label>
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", style = "color: red;" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 control-label">
                                <label for="inputEmail3">
                                    @Html.LabelFor(m => m.Mobile)
                                </label>
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Mobile" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 control-label">
                                <label for="inputPassword3">
                                    @Html.LabelFor(m => m.Password)
                                </label>
                            </div>
                            <div class="col-sm-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", style = "color: red;" })
                            </div>
                        </div>
                        <div class="form-group passwordRowNote">
                            <div class="col-sm-12">
                                <h6></h6>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Sign up for Shopping</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 signInTitle">
            <div class="panel panel-default signInPanelRegistre">
                <div class="panel-body">
                    <div class="form-group">
                        Already have an account? <a class="register" href="@Url.Action("Signin","Account")">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4 signInFooter">
            <div class="panel panel-default signInPanelFooter">
                <div class="panel-body">
                    <div class="form-group">
                        <a class="footerLink" href="#">Term</a>
                        <a class="footerLink" href="#">Privacy</a>
                        <a class="footerLink" href="#">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            if ('@TempData["ErrorMessage"]' !== '') {
                ShowErrorMessage('@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["ErrorMessage"]))');
            }
        });
    </script>
}