@model CartViewModel

<!-- ko if: EditedElement() !== undefined-->
<div class="ibox container-layer" data-bind="visible: IsCreateOrEditMode" style="display:none">
    <div data-bind="visible: Spinning">
        @Html.Partial("_Spinning")
    </div>
    <div class="ibox-title">
        <h5 class="pull-left flip" data-bind="text: PanelTitle"></h5>
    </div>
    <form data-bind="submit:Save">
        <div class="ibox-content">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row form-group">
                            @Html.LabelFor(x => x.Title)
                            <input class="form-control" data-bind="textInput: EditedElement().Title, validationElement:EditedElement().Title" />
                            <span class="error" data-bind="validationMessage: EditedElement().Title"></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row form-group">
                            @Html.LabelFor(x => x.Notes)
                            <input class="form-control" data-bind="textInput: EditedElement().Note" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row form-group">
                            @Html.LabelFor(x => x.Date)
                            <input class="form-control" data-bind="datetimePicker: {value: EditedElement().EndDate}, validationElement:EditedElement().EndDateJs" />
                            <span class="error" data-bind="validationMessage: EditedElement().EndDateJs"></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row form-group">
                            @Html.LabelFor(x => x.Items)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" data-bind="visible: !EditedElement().IsItemsEmpty()">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center" scope="col" width="10%">
                                                Completed
                                            </th>
                                            <th style="text-align: center" scope="col" width="80%">
                                                @Html.LabelFor(x => x.Items.FirstOrDefault().Title)
                                            </th>
                                            <th style="text-align: center" scope="col" width="10%">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko foreach: EditedElement().Items() -->
                                        <tr>
                                            <td class="vertical-center" style="text-align: center" width="10%">
                                                <input type="checkbox" data-bind="iCheckBox: IsCompletedStatus" />
                                            </td>
                                            <td class="vertical-center" style="text-align: center" width="80%">
                                                <input type="text" class="form-control " data-bind="textInput: Title, validationElement: Title" />
                                            </td>
                                            <td class="vertical-center" style="text-align: center" width="10%" data-bind="click: $root.EditedElement().DeleteItem, clickBubble: false">
                                                <div data-bind="tooltip: true" data-toggle="tooltip" title="@SharedStrings.Delete">
                                                    <span><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- /ko-->
                                    </tbody>
                                </table>
                                <span class="error" data-bind="validationMessage: EditedElement().Items"></span>
                            </div>
                            <button data-bind="click: $root.EditedElement().AddNewItem" type="button" class="btn btn-primary">Add Item</button>
                        </div>
                    </div>
                    <br />
                    <!-- ko if: EditedElement().AccessLevel() === 0 -->
                    <div class="col-lg-12">
                        <div class="row form-group">
                            @Html.LabelFor(x => x.Users)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" data-bind="visible: !EditedElement().IsUsersEmpty()">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center" scope="col" width="45%">
                                                Name
                                            </th>
                                            <th style="text-align: center" scope="col" width="45%">
                                                Mobile
                                            </th>
                                            <th style="text-align: center" scope="col" width="10%">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko foreach: EditedElement().Users() -->
                                        <tr>
                                            <td width="45%">
                                                <span data-bind="text: Name" />
                                            </td>
                                            <td width="45%">
                                                <span data-bind="text: Mobile" />
                                            </td>
                                            <td class="vertical-center" style="text-align: center" width="10%" data-bind="click: $root.EditedElement().DeleteUser, clickBubble: false">
                                                <div data-bind="tooltip: true" data-toggle="tooltip" title="@SharedStrings.Delete">
                                                    <span><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- /ko-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /ko-->
                </div>
            </div>
        </div>
        <div class="ibox-footer">
            <button type="submit" class="btn btn-primary">@SharedStrings.Save</button>
            <button type="button" class="btn btn-default" data-bind="click:Cancel">@SharedStrings.Cancel</button>
        </div>
    </form>
</div>
<!-- /ko-->
