@model CartViewModel

<!-- ko if: SelectedElement()!== undefined-->
<div class="ibox container-layer" data-bind="visible: $root.IsDisplayMode">
    <div data-bind="visible: Spinning">
        @Html.Partial("_Spinning")
    </div>

    <div class="ibox-content">
        <div class="panel-body">
            <div class="row m-b-lg">
                <div class="col-lg-12">
                    <div class="btn-group btn-group-justified" role="group" data-bind="visible: !SelectedElement().IsAccessLevelRead()">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-primary" data-bind="click: EnterEditMode">
                                <i class="fa fa-edit"></i> @SharedStrings.Edit
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-Modal">@SharedStrings.Delete</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-success" data-bind="click: GetSharingLink">
                                <i class="fa fa-share-alt" aria-hidden="true"></i> Share
                            </button>
                        </div>
                    </div>
                    <div data-bind="visible: SelectedElement().IsAccessLevelRead()">
                        Details
                    </div>
                </div>
            </div>

            <ul class="list-group clear-list">
                <li class="list-group-item">
                    <span class="flip pull-right" data-bind="text:SelectedElement().Title"></span>
                    @Html.DisplayNameFor(x => x.Title)
                </li>
                <li class="list-group-item">
                    <span class="flip pull-right" data-bind="text:SelectedElement().Note"></span>
                    @Html.DisplayNameFor(x => x.Notes)
                </li>
                <li class="list-group-item">
                    <span class="flip pull-right" data-bind="text:SelectedElement().EndDateDisplay"></span>
                    @Html.DisplayNameFor(x => x.Date)
                </li>
                <li class="list-group-item">
                    <span class="flip pull-right" data-bind="text:SelectedElement().CompletedPercentage"></span>
                    Completion Percentage
                </li>
                <li class="list-group-item">
                    <div>
                        Items
                    </div>
                </li>
                <li class="list-group-item" data-bind="visible: !SelectedElement().IsItemsEmpty()">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>@Html.DisplayNameFor(x => x.Items.FirstOrDefault().Title)</td>
                                <td>Completed</td>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:SelectedElement().Items">
                            <tr>
                                <td data-bind="text:Title"></td>
                                <td>
                                    <i data-bind="css: { 'fa-check': IsCompletedStatus, 'fa-times': !IsCompletedStatus }" class="fa" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item">
                    <div>
                        Sharing Persons
                    </div>
                </li>
                <li class="list-group-item" data-bind="visible: !SelectedElement().IsUsersEmpty()">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Email</td>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:SelectedElement().Users">
                            <tr>
                                <td data-bind="text:Name"></td>
                                <td data-bind="text:Email"></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>

    @Html.Partial("../Shared/_DeleteModal", "Item")
</div>
<!-- /ko-->
