@model CartIndexViewModel

@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

@Html.Partial("_Breadcrumb", new BreadcrumbModel(new BreadItem("Carts")))

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox container-layer">
                <div data-bind="visible: Spinning">
                    @Html.Partial("_Spinning")
                </div>
                <div class="ibox-title">
                    <div class="pull-left flip">
                        <button class="btn btn-primary btn-xs" data-bind="click: PressCreate">Create</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.Partial("_List", Model)
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div data-bind="visible: IsItemsEmpty && IsNoResultMode" style="display:none">
                @Html.Partial("_NoResult")
            </div>
            @Html.Partial("_Detail", new CartViewModel())
            @Html.Partial("_CreateEdit", new CartViewModel())
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/knockout/cartsVM.js"></script>

    <script type="text/javascript">
        $(function () {
            var searchCriteriaVm = new CartSearchCriteriaVM({
                pageSize: @Model.PageSize,
                totalCount: @Model.TotalCount,
            });

            var vm = new CartMainVM({
                searchCriteria: searchCriteriaVm,

                createUrl: '@Url.Action("Create")',

                editUrl: '@Url.Action("Edit")',
                deleteUrl: '@Url.Action("Delete")',
                searchUrl: '@Url.Action("Search")',
                changeStatusUrl: '@Url.Action("ChangeStatus")',

                createModePanelTitle: '@Html.Raw(SharedStrings.Create)',
                editModePanelTitle: '@Html.Raw(SharedStrings.Edit)',
                displayModePanelTitle: '@Html.Raw(SharedStrings.Details)',
            });

            ko.applyBindings(vm);
            ko.validation.locale('@Html.KoValidationToken()');
        });

    </script>
}

